[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
flask = "*"
"yampy3" = "*"
matplotlib = "*"
flask-script = "*"
flask-migrate = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.6"
