<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Yammer Rank Home Page</title>
        <script type="text/javascript"></script>
        <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    </head>

    <body>
        <h1>Hello, this is Yammer Rank!</h1>
        <h4>This webpage can allow you to check the yammer post state and get the rankings.</h4>
        <br><br>
        <h4>Click start button to login.</h4>
        <form method="GET" action="/auth/oauth_login">
        <input type="submit" value="Start" name="login_button"/>
        </form>
        <br><br>
    </body>
</html>