<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Yammer Rank Home Page</title>
    <!--script type="text/javascript"></script-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
<h1> Hello {{ user_name }}, welcome to Yammer Rank!</h1>
<h4>Select group, end date and start date to get the rank result</h4>

<!-- form method="post" action="/rank_result"-->
<form id="my_form" method="POST">
    <br>
    group id*
    <input type="text" id="id_sel_group" name="sel_group" placeholder="Enter group id" required="required"
          value="15273590" oninput="value=value.replace(/[^\d]/g,'')"/>
    <br>
    from date
    <input type="date" id="id_end_date" name="end_date" placeholder="Enter end date"/>
    back to
    <input type="date" name="start_date" placeholder="Beginning"/>
    <br>
    Comment character number >=
    <input type="text" id="id_letter_num" name="letter_num" value="1" oninput="value=value.replace(/[^\d]/g,'')"/>
    <br>
    Comment number >=
    <input type="text" id="id_comment_num" name="least_comment_num" value="1" oninput="value=value.replace(/[^\d]/g,'')"/>
    <br>
    final comment number =
    <input type="text" id="id_final_comment_num" name="final_comment_num" value="100" oninput="value=value.replace(/[^\d]/g,'')"/>
    <br>
    display top x labels=
    <input type="text" id="id_show_top" name="show_top" value="10" oninput="value=value.replace(/[^-,\d]/g,'')"/>
    <br>
    Rank based on post number=
    <select id="id_rank_for_post" name="rank_for_post">
        <option value = 0> False</option>
        <option value = 1> True</option>
    </select>

    <br><br>
    <input type="submit" id="id_get_rank" value="Get Yammer Rank" name="get_rank" />

    <p>form 内如果您点击我，下面会追加文本。</p>
</form>
<br><br>


<hr>
<!--img id="id_data_img" src="data:image/png;base64,{{ img_data }} "-->
<div id="id_img_data">图</div>
<br/>
<div id="id_rank_list" name="rank_list">这里是列表</div>
<br/>
<div id="success_alert"></div>
<div id="error_alert"></div>


<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            $('#id_get_rank').attr({"disabled":"true"});

            $.ajax({
                data: $('#my_form').serialize(),
                type: 'POST',
                url: '/process_ajax'
            })
            .done(function(data) {
                $('#id_get_rank').removeAttr("disabled");
                if (data.error) {
                    $('#error_alert').text(data.error).show();
                    $('#success_alert').hide();
                }
                else {
                    //$("#id_img_data").attr("src","data:image/png;base64,"+data.img_data)
                    $('#id_img_data').html('<img src="data:image/png;base64,' + data.img_data + '" />');
                    $('#success_alert').text("You chose group: " + data.group_id + " with "+data.letter_num).show()
                    $('#error_alert').hide();
                    alert("You chose group: " + data.group_id +"\n" + "result is: " + data.yammer_result)
                }

            });

            event.preventDefault();
        });
    });

    $(function() {
        $("p").click(function() {
            $('#id_data_img').append("<b>加了后面一段文本</b>");
        });
    });

</script>

</body>
</html>/html>